.inbox-button-nav{
    height:92px;
    .inbox-button {
        height: 32px;
        width: 320px;//button*3 + margin*2 = 274
        flex-direction: row;
        float: right;
        margin: 26px 150px 34px 0px;
        .inbox-massage-control-button {
          margin-right: 5px;
        }
      }
}

