.result-detail-body {
  margin-top: 45px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  .title {
    font-size: 36px;
    font-weight: bold;
    width: 78vw;
    max-width: 1500px;
  }
  .empty{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(248, 248, 248);
    border-radius: 12px;
    height: 200px;
  }
  .result-detail-box {
    width: 78vw;
    max-width: 1500px;
    min-height: 500px;
    margin-top: 20px;
    margin-bottom: 45px;
    padding: 6rem;
    background-color: white;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    .space {
      height: 5rem;
    }
    .list-title-h1 {
      font-size: 1.5rem;
      font-weight: bold;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
    .list-title-h2 {
      font-size: 1.2rem;
      font-weight: 700;
      margin-left: 1rem;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
    .list {
      padding-top: 1rem;
      padding-bottom: 1rem;
      .list-item {
        border-width: 1px;
        border-color: rgb(200, 200, 200);
        border-style: solid;
        padding-left: 2rem;
        margin: 0 0 -1px -1px;
        display: flex;
        align-items: center;
        .title {
          font-size: 1rem;
          font-weight: normal;
          width: 8rem;
          text-align: center;
          flex-shrink: 0;
          padding-right: 2rem;
          padding-top: 1rem;
          padding-bottom: 1rem;
        }
        .content {
          border-width: 0 0 0 1px;
          border-color: rgb(191, 191, 191);
          border-style: solid;
          font-size: 1rem;
          padding-left: 1.5rem;
          padding-right: 1.5rem;
          margin-top: 1rem;
          margin-bottom: 1rem;
        }
      }
    }
  }
}
