$vm_base: 1920;
$vh_base: 1080;

@function vw($px) {
  @return calc($px / $vm_base) * 100vw;
}

@function vh($px) {
  @return calc($px / $vh_base) * 100vh;
}

.manage-detail {
  min-height: 100%;
  margin-bottom: 25px;
  .ant-btn-primary {
    min-width: vw(84);
    min-height: vh(22);
    font-size: vh(14);
    line-height: vh(22);
  }
  .manage-detail-header {
    .manage-detail-title {
      min-height: vh(72);
      font-size: vh(36);
      margin-top: vh(27);
      margin-bottom: 0;
      display: inline-block;
      line-height: vh(36);
      text-align: center;
      font-weight: 500;
      font-family: HarmonyOS Sans SC;
      padding-left: vw(12);
    }
    #manage-detail-set {
      float: right;
      margin-right: vw(59);
      margin-top: vh(23);
    }
    #manage-detail-notice {
      float: right;
      margin-right: vw(24);
      margin-top: vh(23);
    }
    #manage-detail-download-result {
      float: right;
      margin-right: vw(24);
      margin-top: vh(23);
    }
    #manage-detail-download-work {
      float: right;
      margin-right: vw(24);
      margin-top: vh(23);
    }
  }

  .manage-detail-body {
    display: flex;
    flex-direction: column;
    background-color: white;
    min-height: 780px;
    margin: 0 vw(53) 0 vw(55);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    .manage-detail-top {
      min-height: vh(122);
      #manage-detail-download-info {
        float: left;
        margin-left: vw(68);
        margin-top: vh(67);
      }
      #manage-detail-reviewer {
        float: left;
        margin-left: vw(19);
        margin-top: vh(67);
      }
      #manage-detail-tips {
        float: left;
        margin-left: vw(11);
        margin-top: vh(84);
        height: vh(14);
        color: rgba(153, 153, 153, 1);
        font-size: vh(12);
        font-weight: 500;
      }
      #statisticsbox-approve {
        float: right;
        margin-right: vw(70);
        margin-top: vh(44);
      }
      #statisticsbox-submit {
        float: right;
        margin-right: vw(69);
        margin-top: vh(44);
      }
      #statisticsbox-regist {
        float: right;
        margin-right: vw(97);
        margin-top: vh(44);
      }
    }
    .manage-detail-list {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      .manage-detail-list-title {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 90%;
        text-align: center;
        height: 40px;
        color: rgba(0, 0, 0, 0.85);
        font-size: 14px;
        line-height: 22px;
        font-weight: 700;
        border-bottom: solid rgba(151, 151, 151, 1);
        .manage-detail-list-title-index {
          border-right: 2px solid rgba(81, 81, 81, 0.1);
          width: 10%;
        }
        .manage-detail-list-title-fileName {
          border-right: 2px solid rgba(81, 81, 81, 0.1);
          width: 45%;
        }
        .manage-detail-list-title-judges {
          border-right: 2px solid rgba(81, 81, 81, 0.1);
          width: 22%;
        }
        .manage-detail-list-title-export {
          width: 22%;
        }
      }
      .manage-detail-list-content {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 90%;
        text-align: center;
        height: 60px;
        .manage-detail-list-content-index {
          border-right: 2px solid rgba(81, 81, 81, 0.1);
          width: 10%;
        }
        .manage-detail-list-content-fileName {
          border-right: 2px solid rgba(81, 81, 81, 0.1);
          width: 45%;
        }
        .manage-detail-list-content-judges {
          border-right: 2px solid rgba(81, 81, 81, 0.1);
          width: 22%;
        }
        .manage-detail-list-content-export {
          width: 22%;
        }
      }
    }
    .manage-detail-page {
      height: 45px;
    }
  }
}
