// .manage {
//   width: calc(100vw - 201px);
//   height: calc(100vh - 75px);
//   background-color: #f0f0f0;
//   overflow: auto;
// }

.manage-content-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  // margin-left: 1.1vw;
  // height: 85vh;
  min-width: 1200px;
  .manage-content-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    // margin: 3vh 0 1vh 0;
    line-height: 3.15vh;
    font-size: 3.15vh;
    color: rgba(0, 0, 0, 0.85);
    .manage-content-title {
      // padding-top: 5px;
      // text-shadow: 0 2px 4px;
      // font-weight: normal;
      // text-align: center;
      font-size: 36px;
      font-weight: 500;
      letter-spacing: 0px;
      line-height: 36px;
      color: rgba(0, 0, 0, 0.85);
      text-align: center;
      vertical-align: middle;
      text-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
    }
    .submit {
      margin-bottom: 1.5vh;
    }
  }
  .manage-content-main {
    height: 76vh;
    padding-bottom: 2vh;
    background-color: #fff;
    .message {
      height: 47.5vh;
      margin: 3.8vh;
      background-color: #f7f7f7;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      .navigation {
        margin: 1.85vh 1.5vw;
        .ant-anchor {
          box-sizing: border-box;
          margin-bottom: 10px;
          color: rgba(0, 0, 0, 0.85);
          font-size: 16px;
          line-height: 3.64vw;
          text-align: left;
          list-style: none;
          font-feature-settings: 'tnum';
          padding-left: 2px;
        }
      }
      .content::-webkit-scrollbar {
        width: 0;
      }
      .content {
        overflow: auto;
        .item {
          margin-left: 2.6vw;
          margin-top: 2.3vw;
        }
        .ant-table-thead {
          .ant-table-cell {
            height: 17px;
            line-height: 18px;
            padding: 10px 14px !important;
          }
        }
      }
      .ant-table {
        border: none !important;
      }
      .ant-table-cell {
        background-color: #f7f7f7;
      }
      .ant-table-thead {
        padding: 0;
        border: none !important;
        color: rgba(0, 0, 0, 0.85) !important;
      }
      .ant-table-tbody > tr > td {
        border: none !important;
        line-height: 18px;
        padding: 10px 15px;
        font-size: 18px;
        color: #999;
      }
      .ant-table-tbody > tr > td:first-child {
        color: rgba(0, 0, 0, 0.85);
      }
      .ant-pagination {
        display: none;
        transform: translateX(-20px);
      }
    }
    .judge {
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center;
      .inputBox {
        color: rgba(0, 0, 0, 0.85);
        margin-left: 15.2vw;
        padding-left: 8vw;
        margin-bottom: 10px;
        span {
          vertical-align: top;
          font-size: 16px;
        }
      }
      .inputbox {
        overflow: auto;
        outline: none;
        padding: 5px;
        font-size: 14px;
        line-height: 22px;
        width: 40.8vw;
        resize: none;
      }
    }
  }
}
