.manage {
  overflow: auto;
  .topBar {
    width: 100%;
  }
}
.manage-content {
  width: 100%;
  padding: 0 1.77vw 0 0;
  .manage-content-table-title {
    margin: 3vh 0 2.5vh 0;
    line-height: 3.15vh;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.85);
    // text-shadow: 0 2px 4px;
    font-weight: normal;
  }
  .manage-content-table-body {
    margin-left: 1.1vw;
    margin-right: 0.93vw;
    padding: 1.8vh 3.6vw 0 3.6vw;
    text-align: center;
    background-color: #fff;
  }
}
.ant-table {
  margin-bottom: 0px;
}
.ant-table-tbody > tr > td {
  line-height: 1.1vw;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06) !important;
}
.ant-table-tbody > tr > td {
  line-height: 1.1vw;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06) !important;
}
.ant-table-thead > tr > th {
  line-height: 1.1vw;
  height: 6.3vh;
  color: #000;
  border: none !important;
  background-color: white;
  font-size: 1.6vh;
  font-weight: bold;
  text-align: center;
}
.ant-table-tbody > tr {
  background-color: #f0f0f0;
  text-align: center;
}
.ant-pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.redPoint:before {
  position: absolute;
  left: 4.9vw;
  width: 5px;
  height: 5px;
  content: ' ';
  background-color: red;
  border-radius: 50%;
  z-index: 1000;
}
.nopoint {
  display: none;
}
.tdnum {
  text-align: center;
  display: flex;
  justify-content: center;
}
