$vm_base: 1920;
$vh_base: 1080;

@function vw($px) {
  @return calc($px / $vm_base) * 100vw;
}

@function vh($px) {
  @return calc($px / $vh_base) * 100vh;
}

.activity-notice {
  #activity-notice-header {
    display: inline-block;
    width: 223px;
    height: 71px;
    margin-top: 12px;
    margin-bottom: 0;
    color: rgba(0, 0, 0, 0.85);
    text-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 36px;
    line-height: 71px;
    font-weight: 500;
    text-align: center;
    font-family: HarmonyOS Sans SC;
  }
  .activity-notice-body {
    display: flex;
    flex-direction: column;
    min-width: vw(1562);
    min-height: 851px;
    margin-left: 64px;
    margin-right: 44px;
    margin-bottom: 16px;
    background-color: white;
    font-size: 24px;
    line-height: 22px;
    font-weight: 400;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    .activity-notice-title {
      display: flex;
      flex-direction: column;
      height: 75px;
      align-items: flex-start;
      margin-left: 143px;
      margin-top: 66px;
      margin-right: 156px;
      #activity-notice-title {
        width: 140px;
        height: 22px;
        text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
        color: rgba(0, 0, 0, 0.65);
        margin-bottom: 0;
      }
      .ant-input {
        padding: 0;
        margin-top: 9px;
        height: 44px;
      }
    }
    .activity-notice-content {
      display: flex;
      flex-direction: column;
      margin-top: 22px;
      margin-left: 143px;
      margin-right: 156px;
      p {
        text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
        color: rgba(0, 0, 0, 0.65);
        margin-bottom: 9px;
      }
      .ant-input {
        padding: 0;
        height: 249px;
      }
    }
    .activity-notice-people {
      display: flex;
      flex-direction: row;
      margin-top: 16px;
      margin-left: 143px;
      align-items: center;
      p {
        display: inline-block;
        text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
        color: rgba(0, 0, 0, 0.65);
        margin-bottom: 0;
      }
      .ant-radio-wrapper-checked {
        width: 72px;
        height: 22px;
      }
    }
    .activity-notice-operation {
      flex: 1 1 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      align-self: center;
      justify-content: space-between;
      width: 370px;
      .ant-btn-primary {
        width: 83px;
        height: 32px;
      }
    }
  }
}
